*{
    margin: 0;
    padding: 0;
    font-size: 'poppins',sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #ff00d4,#00ddff);
    padding: 10px;

}

.TODO-APP{
    width: 30%;
    min-width: 440px;
    background-color:white;
    margin: 100px auto 10px;
    padding: 30px 10px 50px;
    border-radius: 10px;
}

.TODO-APP h2{
    display: flex;
    color: black;
    align-items: center;
    margin-bottom: 20px;
}

.row{
     display: flex;
     align-items: center;
     justify-content: space-between;
     background: cyan ;
     border-radius: 30px;
     padding-left: 20px;
     margin-bottom: 25px;
     font-size: 16px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 18px;
  
}

button{
    border: none;
    outline: none;
    background: darkcyan;
    padding: 16px 50px;
    color:black;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;

}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50px;
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
       background-image: url(image/checked.png);
}

ul li span{
    position: absolute;
    right:0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;

}

ul li span:hover{
    background: #edeef0;
}